body {
  background: #f5ebe0;
}

.ys {
  &.root {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
  }

  &.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    width: 240px;
    height: 100vh;
    overflow: hidden;
    background: #6c584c;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.64);
    z-index: 110;
  }

  &.rest {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
  }

  &.header {
    background: #a98467;
    height: 42px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.64);
    z-index: 100;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 12px;
  }

  &.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
  }
}
